pymupdf
pdfplumber
camelot-py[cv]
pytesseract
easyocr
azure-ai-documentintelligence
langchain
langchain-openai
pymilvus
faiss-cpu
python-docx
scikit-learn
pandas
tqdm
openai
tiktoken
rank_bm25
ragas==0.3.1
spacy
nltk
python-dotenv
datasets
